<!-- Quick Customization

To only print labels for people who have an address, set the below to true
To print labels for every household in the list, set to false
{% assign address_present = true %}

-->
<html>
  <head>
    <title>Avery Labels</title>
    <style>
      @page { margin: 0.5in 0in 0in 0.0825in; size: US-Letter; }
      ul { margin: 0; padding: 0; }
      ul.labels li {
        margin: 0 0 0 0.13in;
        padding: 0;
        float: left;
        width: 2.625in;
        height: 1in;
        display: block;
        font-family: "Lato", Arial, Helvetica, sans-serif;
        font-size: 11pt;
      }
      ul.labels li div.address {
        margin-left: 0.125in;
        margin-top: 0.1in;
      }
    </style>
  </head>
  <body>
    <ul class="labels">
      {% for household in households %}
        <!-- Find out if there is a married male in the household -->
        {% assign married = false %}
        {% for adult in household.active_adults %}
          {% if adult.gender == "M" %}
            {% if adult.marital_status == "Married" %}
              {% assign married = true %}
              {% assign married_male = adult %}
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if household.primary_address or address_present == false %}
          {% if married == true %}
            <li>
              <div class="address">
                Mr. and Mrs. {{ married_male.name }}<br>
                {{ household.primary_address.postal_address }}
              </div>
            </li>
          {% else %}
            <li>
              <div class="address">
                The {{ household.primary_contact.last_name }} Household<br>
                {{ household.primary_address.postal_address }}
              </div>
            </li>      			
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </body>
</html>