{% assign sorted_people = people | sort: 'last_name' %}

<html>
  <head>
    <title>Simple Directory</title>
    <style>
      @page { margin: 0.5in 0in 0in 0.0825in; size: US-Letter; }
      ul { margin: 0; padding: 0; }
    </style>
  </head>
  <body>
    <ul class="labels">
      

      	
            
            {% for person in sorted_people %}
      
      <li>
          <div>
     					{% if person.primary_contacts == empty %}
 				         {{ person.last_name }}, {{ person.first_name }} <br>
            	{% endif %}

            {% for household in person.households %}
        			{% assign household = person.households.first %}
            		{% for adult in household.adults %}
            			<strong>{% if forloop.first == true %}
                    {{ adult.last_name }}, {{ adult.first_name }}
                    {% else %}
                    &amp; {{ adult.first_name }}
                    {% endif %}
            			{% if adult.id == household.primary_contact.id %}
            				{% for phone_number in adult.phone_numbers %}
                      {% if phone_number.location == "Home"%}
                    		.....({{phone_number.location}}) {{ phone_number.number }}
                    	{% endif %}
                    {% endfor %}
            			{% endif %}
              	{% endfor %}
            {% endfor %}</strong>
            	<br>		
            {% for household in person.households %}
            	{% if household.children != empty %}
            		Children: 
            		{% for child in household.children %}
            			{% if forloop.last == false %}
                    {{ child.first_name }},    
            			{% else %}
            				{{ child.first_name }}
            		{% endif %}
            	{% endfor %}
            	{% endif %}
            <br>
            
            {% endfor %}
            
            {{ person.primary_address.postal_address}} <br>
            
            {{ person.first_name }} - 
            
            {% for email in person.emails %}
              		{{ email.address }}
            {% endfor %}
            
            {% for phone_number in person.phone_numbers %}
              ({{ phone_number.location }}) {{ phone_number.number }} 
            {% endfor %}							
          </div>
      	</li>
      <br>
      <br>
      <br>
      {% endfor %}
    </ul>
  </body>
</html>