<!DOCTYPE html>
<html>
  <head>
    <title>{{ report.title }}</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{ report.stylesheet_href }}">
    <link href='/favicon.ico?v=1106' rel='icon' type='image/x-icon'>
  </head>
  <body>
    <div class="report-wrapper">
      <h1 class="header-large txt-center gutter-bottom-small">{{ report.title }}</h1>
      <h2 class="header-medium txt-center soft gutter-bottom-large">{{ report.scope }}: {{ report.start_date }} through {{ report.end_date }}</h2>
      {% for day in days %}
        {% capture day_name %}{{day.date | date: '%A, %B %-d, %Y'}}{% endcapture %}
        <div class="level-1">
          <h2 class="date-header header-large gutter-bottom-small">{{day_name}}</h2>

          {% if day.instances.size == 0 %}
            <div class="soft pad-left gutter-bottom-medium">
              No events today
            </div>
          {% endif %}

          {% if day.instances.size != 0 %}
            <ul>
              {% for instance in day.instances %}
                <li class="gutter-bottom-medium gutter-top-medium level-2 block" style=list-style-type:none>
                  {% capture starts_at_day_name %}{{instance.starts_at | date: '%A, %B %-d, %Y'}}{% endcapture %}
                  {% capture ends_at_day_name %}{{instance.ends_at | date: '%A, %B %-d, %Y'}}{% endcapture %}
                  <h3 class="header-medium gutter-bottom-small">
                    {% if starts_at_day_name == day_name %}
                      {% if ends_at_day_name == day_name %}
                        {{ instance.starts_at | date: "%-I:%M%P" | downcase }}-{{ instance.ends_at | date: "%-I:%M%P" | downcase }}
                      {% else %}
                        {{ instance.starts_at | date: "%-I:%M%P" | downcase }}-End
                      {% endif %}
                    {% else %}
                      {% if ends_at_day_name == day_name %}
                        Start-{{ instance.ends_at | date: "%-I:%M%P" | downcase }}
                      {% else %}
                        ALL DAY
                      {% endif %}
                    {% endif %}:&nbsp;
                    {% if instance.event.name != 0 %}
                      <span style="font-weight:normal;">
                        {{ instance.event.name }}
                        {% if instance.reservation.primary_room_request.room.name %}
                          <span class="soft">[Primary Rm: {{ instance.reservation.primary_room_request.room.name }} ]</span>
                        {% endif %}
                        {% if instance.reservation.simple_room_requests.size >0 %}
                            <span class="soft">[Simple Rm:
                                {% for request in instance.reservation.simple_room_requests %}
                                        {{request.room.name}}
                                {% endfor %}]
                            </span>
                        {% endif %}
                        {% if instance.reservation.complex_room_requests.size >0 %}
                            <span class="soft">[Complex Rm:
                                {% for request in instance.reservation.complex_room_requests %}
                                        {{request.room.name}}
                                {% endfor %}]
                            </span>
                        {% endif %}
                        {% if instance.reservation.room_requests.size >0 %}
                            <span class="soft">[All Rm:
                                {% for request in instance.reservation.room_requests %}
                                        {{request.room.name}}
                                {% endfor %}]
                            </span>
                        {% endif %}
                      </span>
                    {% endif %}
                  </h3>

                  <!-- An event schedule with a single entry that matches the event's name (which is default).
                  Baically, an un-edited event schedule. -->
                  {% if instance.event_times.size == 1 %}
                    {% for event_time in instance.event_times %}
                      {% if event_time.name != instance.event.name %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  <!-- An event schedule with multiple entries -->
                  {% if instance.event_times.size > 1 %}
                    </div>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </body>
</html>
