<!DOCTYPE html>
<html>
  <head>
    <title>{{ report.title }}</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{ report.stylesheet_href }}">
    <link href='/favicon.ico?v=1106' rel='icon' type='image/x-icon'>
  </head>
  <body>
    <div class="report-wrapper">
      <h1 class="header-large txt-center gutter-bottom-small">{{ report.title }}</h1>
      <h2 class="header-medium txt-center soft gutter-bottom-large">{{ report.scope }}: {{ report.start_date }} through {{ report.end_date }}</h2>
      <div class="report_list">
        <div class="level-1">
          {% for event in events %}
            <div class="bg-soft gutter-bottom-medium">
              <span class="header-large">{{event.name}}</span>
              <span class="status {{ event.approval_status }}">{{ event.approval_status }}</span>
            </div>

            <!-- ===== META INFO ========================== -->
            <div class="level-2">
              {% if event.owner or event.details %}
                <ul class="container-naked gutter-bottom-medium">
                  {% if event.owner %}
                    <li>Owner: {{ event.owner.name }}</li>
                  {% endif %}
                  {% if event.details != 0 %}
                    <li><em>{{ event.details }}</em></li>
                  {% endif %}
                </ul>
              {% endif %}
            </div>
            <!-- @end Meta Info ========================== -->
            <!-- Event Details =========================== -->
            <ul>
              {% for instance in event.instances %}
                {% if forloop.first == true %}
                    <li class="gutter-bottom-large item level-2 block">
                    <h3 class="header-large item-title gutter-bottom-small">
                        Event Details
                    </h3>

                    {% if instance.reservation.primary_room_request.room %}
                        <div class="level-3">
                        <ul class="container-naked gutter-bottom-medium">
                            <li>
                            <strong>Primary Room:</strong> {{ instance.reservation.primary_room_request.room.name }}
                            {{instance.reservation.primary_room_request.resource_requests.length}}
                            <span class="status {{ instance.reservation.primary_room_request.approval_status }}">{{ instance.reservation.primary_room_request.approval_status }}</span>
                            </li>
                        </ul>
                        </div>
                    {% endif %}

                    <div class="level-3">
                        <h3 class="bg-soft header-medium gutter-bottom-small">Event Schedule</h3>
                        {% if instance.event_times.size > 0 %}
                        <ul>
                            {% for event_time in instance.event_times %}
                            <li class="divider-soft pad-left item">
                                <strong>{{event_time.starts_at  | date: "%-I:%M%P" | downcase }}-{{event_time.ends_at  | date: "%-I:%M%P" | downcase }}:</strong> {{ event_time.name }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p class="pad-left soft">(No event times defined.)</p>
                        {% endif %}
                    </div>

                    <!-- ===== ROOMS ========================== -->
                        {% if instance.reservation.room_requests.size > 0 %}
                        <div class="level-3">
                        <h3 class="bg-soft header-medium gutter-bottom-small">Rooms</h3>
                        <ul>
                            {% for request in instance.reservation.simple_room_requests %}
                            <li class="gutter-bottom-small pad-left item item--inline">
                                <div class="gutter-bottom-small">
                                <span class="header-small txt-underline item-title">{{request.room.name}}</span>&nbsp;
                                <span class="status {{ request.approval_status }}">{{ request.approval_status }}</span>
                                </div>
                            </li>
                            {% endfor %}

                            {% for request in instance.reservation.complex_room_requests %}
                            <li class="gutter-bottom-medium pad-left item">
                                <div class="gutter-bottom-small">
                                <span class="header-small txt-underline item-title">{{request.room.name}}</span>
                                <span class="status {{ request.approval_status }}">{{ request.approval_status }}</span>
                                </div>

                                <div class="level-3 gutter-bottom-small">
                                {%if request.room_setup %}
                                    <div>
                                    <strong>Setup:</strong> {{request.room_setup.name }}
                                    {% if request.room_setup.description != blank %}
                                        &mdash; {{ request.room_setup.description }}
                                    {% endif %}
                                    </div>
                                {% endif %}

                                {% if request.room_setup_info != blank %}
                                    <div>
                                    <strong>Additional notes:</strong> {{ request.room_setup_info }}
                                    </div>
                                {% endif %}

                                {% if request.answers.size > 0 %}
                                    {% for answer in request.answers %}
                                    {% if answer.section_header? %}
                                        <div>
                                        <strong>{{ answer.label }}</strong>
                                        </div>
                                    {% else %}
                                        <div class="divider-soft">
                                        <strong>{{ answer.question }}</strong> &mdash; {{answer.answer}}
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </div>

                                {% if request.resource_requests.size > 0 %}
                                <div class="level-3">
                                    <h4 class="bg-soft header-small gutter-bottom-small">Resources for this room</h4>
                                    <div class="level-4">
                                    <ul>
                                        {% for resource_request in request.simple_resource_requests %}
                                        <li class="sub-item sub-item--inline gutter-bottom-small">
                                            <h4 class="header-small">
                                            <span class="txt-underline sub-item-title">
                                                {%if resource_request.quantity > 1 %}{{resource_request.quantity}} {%endif%}
                                                {{resource_request.resource.name}}
                                            </span>
                                            <span class="status {{ resource_request.approval_status }}">{{ resource_request.approval_status }}</span>
                                            </h4>
                                        </li>
                                        {% endfor %}

                                        {% for resource_request in request.complex_resource_requests %}
                                        <li class="sub-item">
                                            <h4 class="header-small">
                                            <span class="txt-underline sub-item-title">
                                                {%if resource_request.quantity > 1 %}{{resource_request.quantity}} {%endif%}
                                                {{resource_request.resource.name}}
                                            </span>
                                            <span class="status {{ resource_request.approval_status }}">{{ resource_request.approval_status }}</span>
                                            </h4>

                                            {% if resource_request.room_setup_info != blank %}
                                            <div>
                                                <strong>Additional notes:</strong> {{ resource_request.room_setup_info }}
                                            </div>
                                            {% endif %}

                                            {% if resource_request.answers.size > 0 %}
                                            <ul class="gutter-bottom-small pad-left">
                                                {% for answer in resource_request.answers %}
                                                {% if answer.section_header? %}
                                                    <li><strong>{{ answer.label }}</strong></li>
                                                {% else %}
                                                    <li><strong>{{ answer.question }}:</strong> &mdash; {{answer.answer}}</li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    </div>
                                </div>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                    <!-- @end Rooms ========================== -->

                    <!-- ===== RESOURCES ========================== -->
                    {% if instance.reservation.resource_requests.size > 0 %}
                        <div class="level-3">
                        <h4 class="bg-soft header-medium gutter-bottom-small">Resources</h4>
                        <ul>
                            {% for request in instance.reservation.simple_resource_requests %}
                            <li class="gutter-bottom-medium pad-left item item--inline">
                                <span class="header-small txt-underline">{{request.quantity}} {{request.room.name}}</span>
                                <span class="status {{ request.approval_status }}">{{ request.approval_status }}</span>
                            </li>
                            {% endfor %}

                            {% for request in instance.reservation.complex_resource_requests %}
                            <li class="gutter-bottom-medium pad-left item">
                                <span class="header-small txt-underline">{{request.quantity}} {{request.room.name}}</span>
                                <span class="status {{ request.approval_status }}">{{ request.approval_status }}</span>

                                {% if request.room_setup_info != blank %}
                                <div>
                                    <strong>Additional notes:</strong> {{ request.room_setup_info }}
                                </div>
                                {% endif %}

                                <div class="gutter-bottom-small level-3">
                                {% for answer in request.answers %}
                                    {% if answer.section_header? %}
                                    <strong>{{ answer.label }}</strong><br />
                                    {% else %}
                                    <div class="divider-soft">
                                        <strong>{{ answer.question }}:</strong> &mdash; {{answer.answer}}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                    <!-- @end Resources ========================== -->

                    </li>
                {% endif %}
            {% endfor %}
            <!-- End Event Details ======================== -->
            <!-- Event Instances ====================== -->
            <ul>
                <li class="gutter-bottom-large item level-2 block">
                    <h3 class="header-large item-title gutter-bottom-small">
                        Dates and Times<br>
                    </h3>
                    {% for instance in event.instances %}
                        {{ instance.starts_at | date: "%A, %B %-d, %-I:%M%P" | capitalize }}-{{ instance.ends_at | date: "%A, %B %-d, %-I:%M%P" | capitalize }}<br>
                    {% endfor %}    
                </li>
            <!-- End Event Instances ================== -->
            </ul>
          {% endfor %}
        </div>
      </div>
    </body>
  </html>
